.dropdown {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    width: 50%;
    color: black;
}

.dropdown__active {
    cursor: pointer;
    min-height: 40px;
    width: 100%;
    background-color: #fff;
    box-shadow: var(--inset-shadow);
    display: flex;
    align-items: center;
    padding: 0 6px;
    box-sizing: border-box;
}

.dropdown__active::after {
    content: "▼";
    position: absolute;
    right: 0%;
    margin-right: 16px;
    font-size: 12px;
    transition: .18s ease-in-out;
}

.dropdown__active.active::after {
    transform: rotate(180deg);
}

.dropdown__active span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 40px;
}

.dropdown__popup {
    background-color: #fff;
    position: absolute;
    top: 100%;
    margin-top: 8px;
    width: 100%;
    box-shadow: 0 0 12px #606060;
    border-radius: 4px;
    overflow: hidden;
}

.dropdown__item {
    cursor: pointer;
    padding: 4px 6px;
    box-sizing: border-box;
    position: relative;
}

.dropdown__item.active::after {
    content: "•";
    position: absolute;
    right: 0%;
    margin-right: 16px;
    font-size: 16px;
}

.dropdown__item:hover {
    background-color: #eee;
}
